.book-cover img{
	width: 106px;
	height: 158px;
}
.new-books-lists{
	border: 1px solid red;
	width: 80%;
	margin: 50px auto;
	display: flex;
}
.book{
	display: inline-block;
	width: 106px;
	margin-right: 30px;
	border:1px solid red;
}
.book-profile{
	display: none;
}
.book-cover{
	width: 500px;
}
.book-info{
  	text-align: center;

}
.book-info .book-name{
	color: #3377aa;
}
.book-info .book-author{
	margin: 0;
}